$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$background-color: #F6F6F6;
$background-color2: #EAEAEA;

$color-one : white;

$font-family-one: "Shrikhand";
$font-family-two: "Roboto";


@mixin column {
    display:flex;
    flex-direction: column;
    
}

@mixin section-title{
    margin-left:30px;
    font-family: $font-family-two;
    font-weight: 700;
    
}

/************************************/
body {
    font-family: $font-family-two;
    margin:0;
}

img {
    object-fit: cover;
}

/****/
/* Animation loader */
.loader-container {
    position: absolute;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;

    
    width:100%;
    height:100%;
    
    
    background: $color-one;
    
    
    transition: opacity 3s ease-in-out;
    animation: loader 3s alternate;
    animation-fill-mode: forwards;

    pointer-events: none;
}

.loader-container p {
    font-family: $font-family-one;
}


.dot {
    top:50%;
    left:50%;
    
    width:50px;
    height:50px;
    border-radius:50%;
    /*
    margin: 0px 15px;*/
    
    
}

.d1 {
    background-color: $primary-color;
}

.d2 {
    background-color: $secondary-color;
    animation-delay: 0.05s;
}

.d3 {
    background-color: $tertiary-color;
    animation-delay: 0.1s;
}

@keyframes loader {
    0%{
        opacity: 1;
    }

    100%{
        transform: translateY(-30px);
        opacity: 0;
    }
}


.main-container {
    animation: main 3s;
}

@keyframes main {

    0%{
        opacity: 0;
    }

    100%{
        
        opacity: 1;
    }

}

/****/
.header {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top:14px;
    
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

    .header__logo{
        height:36px;
        margin-bottom:14px;
        
    }

}

.header i {
    position:absolute;
    left:30px;
    bottom:30px;
    text-decoration: none;
}

.form{
    display: flex;
    justify-content: center;
    background-color:$background-color2;
    width: 100%;
    padding:10px 0px;
   
    
    .form__icon{
        padding:0px 4px;
    } 
}

::placeholder{
    color:black;
    opacity: 1;
    font-family: $font-family-two;
}

input {
    font-family: $font-family-two;
    font-size: 16px;
    font-weight: 500;
    font-weight: bold;

    text-align: center;
    border-style: none;
    background-color: $background-color2;

}

/* BLOC RESERVATION */

.reservation__bloc{
    @include column;
    text-align: center;
    align-items: center;
    background-color: $background-color;
    font-family: $font-family-two;
    font-weight: 700;
    padding:30px;
}

.reservation__title {
    font-size:24px;
    margin:0;
}

.reservation__bloc p {
    font-weight: 300;
    font-size: 18px;
    color: #353535;
}

.reservation__button{
    border-radius: 25px;
    border: solid;
    border-width:0;
    background: linear-gradient(358deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

    color: $color-one;
    border-color: $background-color;
    padding: 15px 20px;
    font-size: 16px;
    font-family: $font-family-two;
    font-weight: initial;
    text-decoration:none;
    

    &:hover{
        opacity: 0.8;
        transform: scale(1.02);
        transition: ease-out 300ms;
        box-shadow: 3px 6px 12px 4px rgba(0, 0, 0, 0.25);

     }

}

/* BLOC FONCTIONNEMENT */

.functioning {
    position: relative;
    padding:30px 50px;

    .functioning__title{
        font-family: $font-family-two;
        font-weight:700;
    }

    .functioning__buttons {
        @include column ;
    }
}

.button {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: $background-color;
    border-radius: 20px;
    border-width: 0;
    padding: 13px 30px 13px 30px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    
    .button__number {
        position:absolute;
        z-index: 2;
        left:42px;
        color:$color-one;
        border:solid;
        border-width:1px;
        background-color: $primary-color;
        padding:2px 7px;
        border-radius:20px;
    }

    .button__list {
        display: flex;
        align-items: center;
        gap: 20px;
        position: relative;
        z-index: 1;
    }
}

.button i {

    color:#7E7E7E;

    &:hover{
        color:$primary-color;
    }
}

.button p {
    font-size: 16px;
    font-weight: bold;
}


/* BLOC RESTAURANTS */
.restaurants {
    background-color: $background-color;
    padding:30px 40px;

    .restaurants__title {
        font-family:$font-family-two;
        font-weight:700;
    }
    
    .restaurants__cards {
        @include column;
        align-items: center;
        gap:18px;
    }
}

.restaurants__cards a {
    position:relative;
    @include column;
    justify-content: center;
    text-decoration: none; 
    color: $color-one;
    border-width: 1px;
    width: 100%;
}

.card { 
    height:251px;
    margin-bottom: 18px;
    border-radius: 15px;
    border-width: 0px;
    background-color: $color-one;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    
    .card__label {
        position:absolute;
        right:5%;
        z-index:2;
        color: #008766;
        font-family: $font-family-two;
        font-size: 14px;
        line-height: 16px;
        padding:7px 9px;
        background-color: $tertiary-color;
        border:solid;
        border-width:1px;
        border-radius:2px;
        border-color:$tertiary-color;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }

    .card__img {
        height:174px;
        width:100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }
}


.description-content{
    color:black;
    line-height: 0;
    position: relative;
    z-index:1;

}

.description-txt {
    padding-left:20px;
    font-family:$font-family-two;
}

.description-title {
    font-size: 18px;
    font-weight: 700;
}

.restaurants__cards p {
    font-size:17px;
    font-weight:300;
}


/**** COEURS ****/

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hearts {
    position: relative;
    right: 10px;
    bottom: 15px; 
    padding-right: 50px;

    .hearts__empty {
        position:absolute;
        cursor: pointer;
        opacity: 1;
        color:black;
    }

    .hearts__full {
        position:absolute;
        cursor: pointer;
        opacity:0;
        background:linear-gradient(#9356DC,#FF79DA );
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}


.hearts:hover{
    
   .hearts__empty {
        opacity: 0;
        color:$color-one;
        transition: .3s ease-in-out;
    }
    .hearts__full{
        opacity: 1;
        transition: .3s ease-in-out;
    }
}


/***************/
/* MENUS RESTAURANT */

.container {
    position: relative;
}

.main-menu {
    margin:0;
}

.image__food{
    height: 300px;  
    width: 100%;
}

.meal {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top:-55px;
    background-color: $background-color;
    border: solid;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-color: $background-color;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;

    .menu__title{
        font-family: $font-family-one;
        font-weight: 400;
        font-style: italic;
        font-size: 28px;
        line-height: 40.82px;
        margin-bottom: 0;
        margin-right: 40px;
    }
}

/* ANIMATION COEUR MENU */

.hm {
    margin-bottom :20px;

    .hm__empty {
        position:absolute;
        cursor: pointer;
        opacity: 1;
    }
 
    .hm__full {
        position:absolute;
        cursor: pointer;
        opacity:0;
        background:linear-gradient(#9356DC,#FF79DA );
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}

.hm:hover{

    .hm__empty {
        opacity: 0;
        transition: .3s ease-in-out;
    }
     .hm__full{
        opacity: 1;
        transition: .3s ease-in-out;
    }
}
 



/*** SECTION ENTREES PLATS DESSERTS + ANIMATIONS ***/
.categories {
    font-family: $font-family-two;
    transition: opacity 1s ease-in-out;
    animation: bloc 1s  alternate forwards;
    opacity:0;
    margin-top:10px;
    padding: 0px 30px;

    .categories__title{
        font-weight:300;
        font-size:16px;
        align-self: flex-start;
        
        .categories__title--border::before {
            content:"";
            position:absolute;
            background-color: $tertiary-color;
            height:3px;
            width: 20px;
            margin-top: 20px;
            padding: 0px 10px;
        
        }
    
    }
}


.b1 {
    animation-delay: 1s;
}

.b2 {
   
    animation-delay: 2s;
}

.b3 {
    
    animation-delay: 3s;
}


@keyframes bloc {

    0%{
        transform: translateY(30px);
        opacity: 0;
    }

    100%{
        
        opacity: 1;
    }
}


.cards {
    position: relative;
    z-index: 0;
    background-color: $color-one;
    border-radius:15px;
    margin-bottom:10px;
    margin-left:0px;
    padding: 12px; 
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}


/****/

.cards h3 {
    margin: 0;
}


.cards:hover {
    .subtitle__euro {
        padding-right:70px;
       
    }

    .div-check {
        transform: translateX(10px);
    }
}

.subtitle{
    margin-top: 5px;
    margin-bottom: 0;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    
}

.txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtitle__euro {
    font-family: $font-family-two;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 0;
    transition: padding-right 450ms; 
    padding-right:0px;
}

.div-check {
    position: absolute; 
    top:0px;
    right:0px;
    width:69px;

    transition: transform 450ms ease-in-out;
    transform: translateX(70px);
}

.div-check i {
    font-size:20px;
}

.check {
    position: absolute;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 26px 21px;
    color: $color-one;
    background-color: $tertiary-color;
}


/** BOUTON COMMANDES **/
.command {
    align-self: center;
    margin-top:50px;
    margin-bottom:50px;
    
    border-radius: 25px;
    border: solid;
    border-width:0;
    background: linear-gradient(358deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

    color: $color-one;
    border-color: $background-color;
    padding: 15px 20px;
    font-size: 16px;
    font-family: $font-family-two;

    &:hover{
        opacity: 0.8;
        transform: scale(1.02);
        transition: ease-out 300ms;
        box-shadow: 3px 6px 12px 4px rgba(0, 0, 0, 0.25);
    }

}


/* Footer all */
.footer{
    @include column;
    background-color:#353535;
    color:$color-one;
    width: 100%;

    .footer__logo{
        font-family: $font-family-one;
        margin-top:20px;
        margin-left:40px;
    }

    .footer__list{ 
        @include column; 
        list-style: none;
    }    
}

.list-with {
    font-weight:500;
}

.list-without {
    font-weight:400;
}

.footer li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer p {
    line-height: 0;
}

.footer a {
    text-decoration: none;
    color:$color-one;
}


/************************************/

/****** Media queries T & D ***********/

/* Medium devices (tablets, less/equal than 768px)*/
@media screen and (min-width: 768px) and (max-width:1023.9px){

    .header {
        box-shadow: none;
        .header__logo {
            height:34px;
        }

        .header__arrow {
            font-size:25px;
        }
    }
    
    /* BLOC RESERVATION T */

    .reservation__title {
        font-size: 40px;
    }

    /* FONCTIONNEMENT T */

    .functioning {
        display: flex;
        flex-flow: row wrap;
        max-width: 1140px;
        margin:0 auto;
        
        .functioning__buttons {
            display: flex;
            flex-direction: row;
            gap: 50px;
            width:100%;
            
        }
    }
    
    .button {
        display: flex;
        flex-wrap: nowrap;
        padding: 13px 18px 13px 0px;
        width: 45%;

        .button__number {
            position: relative;
            left: -15px;
        }
    }

    

    /* RESTAURANTS T */
    .restaurants {
        padding:0px;
        
        .restaurants__title {
            margin-top:30px;
            margin-bottom:30px;
        }


        .restaurants__cards {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            column-gap: 100px;
            row-gap: 50px;
            margin-bottom:20px;
        }
    }

    .r1 {
        display: flex;
        flex-wrap: wrap;
        padding:0px 40px;
        max-width: 1140px;
        margin: 0 auto;
    }


    .restaurants__cards a {
        width:42%;
    }


    .card {
        position: relative;
        height:100%;
        width:100%;
        
        .card__label {
            right:5%;
        }

        .card__img {
            width: 100%;
        }
    }

    /* ANIMATION COEUR T */

    .hearts {
        right: 20px;
        bottom: 20px;
    }
    
    /* MENUS T */

    .image img {
        height:383px;
    }

    .meal {
        @include column;
        max-width: 1055px;;
        margin-left:auto;
        margin-right:auto;
    }

    .menu {
        gap:40px;
        margin-top: 30px;

        .menu__title {
            margin-right: 10px;
        }
    }

    .categories {
        @include column;
        margin-left: 180px;
        margin-right: 180px;
        
        .categories__title {
            padding-left: 0px;
        }
    }
    
    
    /* FOOTER T */
    .footer {
        display: flex;
        flex-direction: row-reverse;
        padding-top:30px;

        .footer__logo{
            margin-left: 60px;
            margin-top: 7px;
            margin-bottom: 10px;
            margin-right: 40px;
        }

        .footer__list {
            display: flex;
            flex-direction: row;
            gap:10px;
            margin-right: 10px;
        }
    }

    .list-with {
        font-size:14px;
        gap: 18px;
    }
    
    .list-without {
        font-size:14px;
    }

    .space {
        margin-right:40px;
    }
}


/* Large devices (desktop, less/equal than 1024px) */
@media screen and (min-width: 1024px) {

    .header {
        box-shadow: none;
        .header__logo {
            height:34px;
        }

        .header__arrow {
            font-size:25px;
        }
    }

    
    /* BLOC RESERVATION D */

    .reservation__title {
        font-size: 40px;
    }


    /* FONCTIONNEMENT D */

    .functioning {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1250px;
        margin:0 auto;


        .functioning__buttons {
            display: flex;
            flex-direction: row;
            gap: 50px;
            width:100%;
        }
    }
    
    .button {
        padding: 13px 18px 13px 18px;
        width:25%;
        flex-wrap: nowrap;

        .button__number {
            position: relative;
            left: -30px;
        }
    }

    /* RESTAURANTS D */
    .restaurants {
       padding:0px;
        
        .restaurants__title {
            margin-top:30px;
            margin-bottom:30px;
        }

        .restaurants__cards {
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;
            column-gap: 100px;
            row-gap: 50px;
            margin-bottom:30px;
        }
    }

    .r1 {
        display: flex;
        flex-wrap: wrap;
        padding:0px 40px;
        max-width: 1260px;
        margin: 0 auto;
    }

    .restaurants__cards a {
        width:42%;
    }

    .card {
        position: relative;
        height:100%;
        width:100%;

        .card__label {
            right:5%;
        }

        .card__img {
            width: 100%;
        }
    }


    /* ANIMATION COEUR D */

    .hearts {
        right: 20px;
        bottom: 20px;
    }
    

    /* MENUS T-D */

    .image img {
        height:383px;
    }

    .meal {
        @include column;
        max-width: 1055px;;
        margin-left:auto;
        margin-right:auto;


    }

    .menu {
        gap:40px;
        margin-top: 30px;
        
        .menu__title {
            margin-right: 10px;
        }
    }

    .categories {
        @include column;
        margin-left: 180px;
        margin-right: 180px;

        .categories__title {
            padding-left: 0px;
        }
    }
    
    
    /* FOOTER D */
    .footer {
        display: flex;
        flex-direction: row-reverse;
        padding-top:30px;

        .footer__logo { 
            font-size:18px;
            margin-left: 85px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 60px;
        }

        .footer__list {
            display: flex;
            flex-direction: row;
            gap:10px;
            margin-right: 10px;
        }

    }

    .list-with {
        gap: 18px;
    }

    .space {
        margin-right:40px;
    }

}