$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$background-color: #F6F6F6;
$background-color2: #EAEAEA;

$color-one : white;

$font-family-one: "Shrikhand";
$font-family-two: "Roboto";



@mixin column {
    display:flex;
    flex-direction: column;
    
}

@mixin section-title{
    margin-left:30px;
    font-family: $font-family-two;
    font-weight: 700;
    
}

/************************************/
body {
    font-family: $font-family-two;
    margin:0;
}

/****/
/* Animation loader */
.loader-container {
    position: absolute;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;

    width:100%;
    height:700px;
    background: white;
    
    
    transition: opacity 1s ease-in-out;
    animation: loader 3s alternate;
    animation-fill-mode: forwards;

    pointer-events: none;
}

.loader-container p {
    font-family: $font-family-one;
}


.dot {
    width:50px;
    height:50px;
    border-radius:50%;
    margin: 0px 15px;
}

.d1 {
    background-color: $primary-color;
}

.d2 {
    background-color: $secondary-color;
    animation-delay: 0.05s;
}

.d3 {
    background-color: $tertiary-color;
    animation-delay: 0.1s;
}

@keyframes loader {
    0%{
        opacity: 1;
    }

    100%{
        transform: translateY(-30px);
        opacity: 0;
    }
}


/****/
.header {
    display: flex;
    justify-content: center;
    margin-top:14px;
    position: relative;

    .header__logo{
        object-fit: cover;
        margin-bottom:14px;
        
    }

}

.header i {
    position:absolute;
    left:30px;
    bottom:30px;
    text-decoration: none;
}

.form{
    display: flex;
    justify-content: center;
    background-color:$background-color2;
    width: 100%;
    padding:10px 0px;
    
    .form__icon{
        padding:0px 4px;
    } 
}

::placeholder{
    color:black;
    opacity: 1;
    font-family: $font-family-two;
}

input {
    font-family: $font-family-two;
    font-size: 16px;
    font-weight: 500;

    text-align: center;
    border-style: none;
    background-color: $background-color2;

}

/* BLOC RESERVATION */

.reservation__bloc{
    @include column;
    text-align: center;
    align-items: center;
    background-color: $background-color;
    font-family: $font-family-two;
    font-weight: 700;
    padding:30px;
}

.reservation__title {
    margin:0;
}

.reservation__bloc p {
    font-family: $font-family-two;
    font-weight: 300;
    font-size: 18px;
    color: #353535;
}

.reservation__button{
    border-radius: 25px;
    border: solid;
    border-width:0;
    background: linear-gradient(358deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

    color: $color-one;
    border-color: $background-color;
    padding: 15px 20px;
    font-size: 16px;
    font-family: $font-family-two;

    &:hover{
        opacity: 0.8;
        transform: scale(1.02);
        transition: ease-out 300ms;
        box-shadow: 3px 6px 12px 4px rgba(0, 0, 0, 0.25);

     }

}

/* BLOC FONCTIONNEMENT */

.functioning {
    display: flex;
    flex-direction: column;
    margin-bottom:20px;
    position: relative;

    width:100%;

    .functioning__title{
        @include section-title;
    }
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    background-color: $background-color;
    border-width: 0;
    margin-left:40px;

    border-radius: 20px;
    padding: 10px;
    margin-bottom: 30px;
    padding-left:30px;

    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

}

.button i {

    color:#7E7E7E;

    &:hover{
        color:$primary-color;
    }
}

.button p {
    font-size: 16px;
    font-weight: bold;
}

.number {
    color:$color-one;
    border:solid;
    border-width:1px;
    background-color: $primary-color;
    padding:2px 7px;
    border-radius:20px;

    position:absolute;
    z-index: 2;
    left:30px;
}

.list {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 1;
}

/* Restaurants */
.restaurants {
    background-color: $background-color;
    width: 100%;
    padding-top:10px;
    padding-bottom:30px;

    .restaurants__title {
        @include section-title;
    }
}



.restaurants-cards {
    @include column;
    justify-content: space-around;
    align-items: center;
    gap:18px;

}

.restaurants-cards a {
    pointer-events: auto;
    
    text-decoration: none; 
    color: $color-one;
    border-width: 1px;
    width: 100%;

    @include column;
    object-fit: cover;

}

.card {
   position:relative;
   pointer-events: none;

    border-radius: 15px;
    border-width: 0px;
    background-color: $color-one;

    height: 251px;
    width: 90%;

    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}

.restaurants .card img {
    height:174px;
    width:100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.restaurants-cards .card-content{
    color:black;
    line-height: 0;
    position: relative;
    z-index:1;

}

.restaurants-cards .card-txt {
    padding-left:20px;
    font-family:$font-family-two;
}

.restaurants-cards .card-title {
    font-size: 18px;
    font-weight: 700;
}

.restaurants-cards p {
    font-size:17px;
    font-weight:300;
}

.label {
    position:absolute;
    right:4%;
    z-index:2;

    color: #008766;
    font-family: $font-family-two;

    font-size: 14px;
    line-height: 16px;
    padding:7px 9px;

    background-color: $tertiary-color;
    border:solid;
    border-width:1px;
    border-radius:2px;
    border-color:$tertiary-color;

    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

}

/**** COEURS ****/

.hearts {
    pointer-events: none;
    cursor: none;
}


.hearts:hover{
    
   .hearts__empty {
        opacity: 1;
        transition: 0.3s ease-in-out;
    }
    .hearts__full{
        opacity: 0;
        transition: 0.3s ease-in-out;
    }
}

.hearts__empty {
    position:absolute;
    pointer-events: none;
    right:30px;
    bottom:25px;
    
}

.hearts__full {
    position:absolute;
    pointer-events: none;
    right:30px;
    bottom:25px;
    opacity:0;

    background:linear-gradient(#9356DC,#FF79DA );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}



/* MENUS */

.main-menu {
    /*
    position:relative;
    */
    margin:0;
}



.image__food{
    height: 300px;  
    width: 100%;
    object-fit: cover;

    /*
    position:relative;
    z-index:1;
    */

}

.meal {
    background-color: $background-color;
    border: solid;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-color: $background-color;
}


.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .menu__title{
        font-family: $font-family-one;
        font-weight: 400;
        font-style: italic;
        font-size: 28px;
        line-height: 40.82px;
        margin-bottom: 0;

    }

}

.bloc {
    font-family: $font-family-two;

    .bloc__entrees{
        font-weight:300;
        font-size:16px;
        padding-left:10px;
        margin-top: 40px;
   
        .bloc__entrees--title::before {
            content:"";
            position:absolute;
            background-color: $tertiary-color;
            height:3px;
            width: 20px;
            margin-top: 20px;
            padding: 0px 10px;
        
        }
    
    }
}


.cards {
    background-color: $color-one;
    border: solid;
    border-color: $color-one;
    border-radius:15px;

    width:90%;

    margin-left:17px;
    margin-bottom:20px;

    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);

    .cards:hover{
        transition: ease-out 250ms;
    }

    .cards__content{
        padding: 0px 20px;
        line-height: 5px;
    }
}

.subtitle{
    display: flex;
    justify-content: space-between;

    .subtitle__euro {
        font-family: $font-family-two;
        font-weight: 700;
        font-size: 15px;
        align-self: center;
    }
}

.command {

    border-radius: 25px;
    border: solid;
    border-width:0;
    background: linear-gradient(358deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

    color: $color-one;
    border-color: $background-color;
    padding: 15px 20px;
    font-size: 16px;
    font-family: $font-family-two;

    margin-bottom:20px;
    margin-left:180px;

    &:hover{
        opacity: 0.8;
        transform: scale(1.02);
        transition: ease-out 300ms;
        box-shadow: 3px 6px 12px 4px rgba(0, 0, 0, 0.25);
    }

}


/* Footer all */
.footer-inside {
    background-color:#353535;
    color:$color-one;
    width: 100%;
}

.logo-content{
    font-family: $font-family-one;
    margin-bottom:10px;
}

.footer-inside__list{
    list-style: none;
} 

.footer-inside li {
    display: flex;
    align-items: center;
    gap: 10px;
}


/******** Mobile ******/
/* Small devices (mobile, less/equal than 320px) */
@media screen and (max-width: 1024px) {


    body {
        margin:0;
    }

    /* Header */
    .header {
        display: flex;
        justify-content: center;

        margin-top:14px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        position: relative;

        .header__logo{
            height:36px;
            margin-bottom:14px;
        
        
        }

    }


    /* Navigation */

    .reservation__title {
        font-family: $font-family-two;
        font-weight: 700;
        margin:0;
        font-size:24px;
        
    }


    .reservation__bloc p {
        font-family: $font-family-two;
        font-weight: 300;
        font-size: 18px;
        color: #353535;
    }

    

    /* Fonctionnement */
    
    .button {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    
        background-color: $background-color;
        border-width: 0;
        margin-left:40px;
    
        border-radius: 20px;
        padding: 10px;
        width: 80%;
        margin-bottom: 30px;
        padding-left:30px;
    
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    
    }

    .number {
        color:$color-one;
        border:solid;
        border-width:1px;
        background-color: $primary-color;
        padding:2px 7px;
        border-radius:20px;
    
        position:absolute;
        z-index: 2;
        left:30px;
    }

    .list {
        display: flex;
        align-items: center;
        gap: 20px;
        position: relative;
        z-index: 1;
    }

    /* Restaurants */
    
    .card {
        margin-bottom: 18px;
    }


    /* MENUS */

    .main-menu {
        /*
        position:relative;
        */
        margin:0;
    }

    /*
   .image {
    position: relative;
    z-index: 1;
    }
    */

    .image__food{
        height: 300px;  
        width: 100%;
        object-fit: cover;

        /*
        position:relative;
        z-index:1;
        */
   
    }

    .meal {
        background-color: $background-color;
        border: solid;
        border-top-left-radius: 70px;
        border-top-right-radius: 70px;
        border-color: $background-color;
    }


    .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
    
        .menu__title{
            font-family: $font-family-one;
            font-weight: 400;
            font-style: italic;
            font-size: 28px;
            line-height: 40.82px;
            margin-bottom: 0;
    
        }

    }

    .bloc {
        font-family: $font-family-two;
    
        .bloc__entrees{
            font-weight:300;
            font-size:16px;
            padding-left:13px;
            margin-top: 40px;
       
            .bloc__entrees--title::before {
                content:"";
                position:absolute;
                background-color: $tertiary-color;
                height:3px;
                width: 20px;
                margin-top: 20px;
                padding: 0px 10px;
            
            }
        
        }
    }
 

    .cards {
        background-color: $color-one;
        border: solid;
        border-color: $color-one;
        border-radius:15px;

        width:90%;
    
        margin-left:23px;
        margin-bottom:20px;

        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);

        .cards:hover{
            transition: ease-out 250ms;
        }

        .cards__content{
            padding: 0px 20px;
            line-height: 5px;
        }
    }

    .subtitle{
        display: flex;
        justify-content: space-between;

        .subtitle__euro {
            font-family: $font-family-two;
            font-weight: 700;
            font-size: 15px;
            align-self: center;
        }
    }

    .command {
    
        border-radius: 25px;
        border: solid;
        border-width:0;
        background: linear-gradient(#FF79DA,#9356DC);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

        color: $color-one;
        border-color: $background-color;
        padding: 15px 20px;
        font-size: 16px;
        font-family: $font-family-two;

        margin-bottom:20px;
        margin-left:180px;

        &:hover{
            opacity: 0.8;
            box-shadow: 3px 6px 12px 4px rgba(0, 0, 0, 0.25);
        }
    
    }


    /* Footer all */
    .footer-inside {
        @include column;
    }

    .logo-content {
        margin-left:40px;
        margin-top:20px;
    }

    .footer-inside__list{
        @include column; 
        margin-top:0;
        
    } 


    .footer-inside p {
        line-height: 0;
    }

}

/************************************/

/****** Media queries T & D ***********/

/* Large devices (desktop, less/equal than 1440px) */
@media screen and (min-width: 1024px) {

    .header {
        box-shadow: none;
        .header__logo {
            height:34px;
        }
    }

    
    .reservation__title {
        font-size: 40px;
    }


    /* FONCTIONNEMENT T-D */

    .functioning {
       margin-top: 50px;
       margin-left: 0px;
       margin-right: 0px;


        .functioning__title {
            margin-left: 200px;
        }


        .functioning__buttons {
            display: flex;
          margin-left:180px;
            
        }
    }
    
    


    /*
    .list {
        padding-left:10px;
    }
    */

    .button {
        width:21%;
       
    }


    /* RESTAURANTS T-D */
    .restaurants {
        padding: 28px 0px;
        display: flex;
        flex-direction: column;
        
        .restaurants__title {
            margin-left:200px;
        }

    }

   


    .restaurants-cards {
        /*
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 50px;
       
        width:70%;
        */

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 50px;
    
        margin-left: 180px;
        margin-right: 180px;
    
    }

    .card {
        position: relative;
        border-radius: 15px;
        border-width: 0px;
        background-color: white;

        height: 251px;
        width: 45%;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    }

    /* MENUS T-D */

    .bloc {
        margin-left: 180px;
        margin-right:180px;
    }




    /* FOOTER T-D */
    .footer-inside {
        display: flex;
        flex-direction: row-reverse;
    }

    .logo-content {
        margin-left: 70px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 40px;
    }

    .footer-inside__list {
        display: flex;
        flex-direction: row;
        gap:10px;
    }


}
 



    


